<a href="https://colab.research.google.com/github/BALAJIKUMARAN-CS/pythonNotes/blob/main/pythonList.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. LIST


    1. Lists are used to store multiple items in a single variable. (Heterogeneous)

    2. Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

    3. Lists are created using square brackets:

    4. List items are ordered, changeable, and allow duplicate values.

    5. List items are indexed, the first item has index [0], the second item has index [1] etc.

In [64]:
source=[]
t
ype(source)

NameError: ignored

In [63]:
source=["Test",1,1.1]

print(type(source[0]),type(source[-1]))

print(type(source[1]))

<class 'str'> <class 'float'>
<class 'int'>

# 2. List Replace

    We can replace the string by calling its index value

    EG:
    clan=["naruto","minato","obito"]
    clan[0]="hinata"
    here naruto is replaced with hinata

In [65]:
clan=["naruto","minato","obito"]

print("The old clan values: ",clan)

clan[0]="hinata"

print("The new clan values are: ",clan)

The old clan values:  ['naruto', 'minato', 'obito']
The new clan values are:  ['hinata', 'minato', 'obito']

# 3. List Insert

    insert function is used to add a value in a list

    Insert have 2 argument (index position, value)

    Eg:

    insert(1,"book)

    Here book is inserted in the index position of 1 in a list

In [66]:
clan=["naruto","minato","obito"]

print("The old clan values: ",clan)

clan.insert(1,"kakashi")

print("\nThe new clan values are: ",clan)

The old clan values:  ['naruto', 'minato', 'obito']

The new clan values are:  ['naruto', 'kakashi', 'minato', 'obito']

# 4. List Append

      append function is used to insert a value in the last

      insert vs append

      insert is used to add a value in a particular index
      append is used to a add a value in last position

In [67]:
clan=["naruto","minato","obito"]

print("The old clan values: ",clan)

clan.append("kakashi")

print("\nThe new clan values are: ",clan)

The old clan values:  ['naruto', 'minato', 'obito']

The new clan values are:  ['naruto', 'minato', 'obito', 'kakashi']

#5. List remove

    remove function is used to remove a particular value in a list


    Eg:

    list.remove("xyz")

    Here the value xyz is removed from the list

In [68]:
clan=["naruto","minato","obito"]

print("The old clan values: ",clan)

clan.remove("minato")

print("\nThe new clan values are: ",clan)

The old clan values:  ['naruto', 'minato', 'obito']

The new clan values are:  ['naruto', 'obito']

# 6. List pop

      pop function is used to delete a value in the last

      remove vs pop

      remove is used to delete a particular
      pop is used to a delete a value in last position

In [69]:
clan=["naruto","minato","obito"]

print("The old clan values: ",clan)

clan.pop()

print("\nThe new clan values are: ",clan)

The old clan values:  ['naruto', 'minato', 'obito']

The new clan values are:  ['naruto', 'minato']

#7. List del

    del keyword is used to delete objects with its index position

    Eg:

    del list[index]

In [70]:
clan=["naruto","minato","obito"]

print("The old clan values: ",clan)

del clan[1]

print("\nThe new clan values are: ",clan)

The old clan values:  ['naruto', 'minato', 'obito']

The new clan values are:  ['naruto', 'obito']

#8. List Extend

    extend function is used to extend the list with single value or multiple value

In [71]:
clan=["naruto","minato","obito"]

print("The old clan values: ",clan)

clan.extend(["kakashi","sakura"])

print("\nThe new clan values are: ",clan)

The old clan values:  ['naruto', 'minato', 'obito']

The new clan values are:  ['naruto', 'minato', 'obito', 'kakashi', 'sakura']

In [72]:
#What if we didn't use square bracket in extend function for a string

clan=["naruto","minato","obito"]

print("The old clan values: ",clan)

clan.extend("abcde")

print("\nThe new clan values are: ",clan)

The old clan values:  ['naruto', 'minato', 'obito']

The new clan values are:  ['naruto', 'minato', 'obito', 'a', 'b', 'c', 'd', 'e']

#9. Combine two lists


    We can use + operator

In [20]:
uchihaClan=['sasuke','itachi','madara']

uzumakiClan=['naruto',"minato"]


greenLeafVillage=uchihaClan+uzumakiClan

print(f"The uchiha clan members are: {uchihaClan}")

print(f"The uzumaki clan menbers are : {uzumakiClan}")

print(f"The greenLeaf village members : {greenLeafVillage}")

The uchiha clan members are: ['sasuke', 'itachi', 'madara']
The uzumaki clan menbers are : ['naruto', 'minato']
The greenLeaf village members : ['sasuke', 'itachi', 'madara', 'naruto', 'minato']

#10. Add multple values in a list

    we can add multiple values in a list by the below operation

    1. list=list+["a","b","c"]
    2. list+=["a","b","c"]

In [73]:
#Eg : 1

clan=["naruto","minato","obito"]

print("The old clan values: ",clan)

clan=clan+["itachi","kakashi"]

print("\nThe new clan values are: ",clan)

The old clan values:  ['naruto', 'minato', 'obito']

The new clan values are:  ['naruto', 'minato', 'obito', 'itachi', 'kakashi']

In [74]:
#Eg : 1

clan=["naruto","minato","obito"]

print("The old clan values: ",clan)

clan=clan+["itachi","kakashi"]

print("\nThe new clan values are: ",clan)

The old clan values:  ['naruto', 'minato', 'obito']

The new clan values are:  ['naruto', 'minato', 'obito', 'itachi', 'kakashi']

# 11. List Sort Ascending

    The sort() method sorts the list ascending by default.

      Posible with sort:
      ___________________
      int+float
      int+bool

      Not possible with sort:
      _______________________
        int+str
        bool+str

In [48]:
#Eg 1: sort Capital and small (Here Capital is arranged first)

clan=["naruto","minato","itachi","Kakashi"]

clan.sort()

print(clan)

['Kakashi', 'itachi', 'minato', 'naruto']

In [49]:
#Eg 2: clan.sort() and clan.sort(reverse=False)

clan=["naruto","minato","itachi","Kakashi"]

clan.sort(reverse=False)

print(clan)

['Kakashi', 'itachi', 'minato', 'naruto']

In [51]:
#Eg 3: Sort of Boolean

clan=[True,False,True,False]

clan.sort()

print(clan)

[False, False, True, True]

In [52]:
#Eg 4: Sort of integer and float

clan=[1,1.1,5,0,5.3]

clan.sort()

print(clan)

[0, 1, 1.1, 5, 5.3]

In [53]:
#Eg 5: Sort of integer and float and bool

clan=[1,1.1,5,0,5.3,False,True,True,False]

clan.sort()

print(clan)

[0, False, False, 1, True, True, 1.1, 5, 5.3]

In [54]:
#Eg 6: integer + string sort is not possible

clan=["naruto","minato",1,2,3]

clan.sort()

print(clan)

TypeError: ignored

# 11. List Sort Descending

    The .sort(reverse=True) is used for descending sort

In [57]:
clan=["itachi","Obito","naruto","Kakashi"]

clan.sort(reverse=True)

print(clan)

['naruto', 'itachi', 'Obito', 'Kakashi']

#12. List Reverse

    Reverse function is used to reverse the exact list

    Eg:
    list.reverse()

In [59]:
clan=["naruto","minato","obito"]

print("The old clan values: ",clan)

clan.reverse()

print("\nThe new clan values are: ",clan)

The old clan values:  ['naruto', 'minato', 'obito']

The new clan values are:  ['obito', 'minato', 'naruto']

# 13. List Count

    The count function is used to count the values

    Eg:

    list.count(x)

In [81]:
clan=["naruto","minato","obito"]

print("The old clan values: ",clan)

print("\nThe count is ",clan.count("naruto"))

The old clan values:  ['naruto', 'minato', 'obito']

The count is  1

#14. List Clear

    clear function is used to clear all the values in the list. But not the Variable

In [80]:
#Eg 1:

clan=["naruto","minato","obito"]

print("The old clan values: ",clan)

clan.clear()

print("\nThe new clan values are: ",clan)

The old clan values:  ['naruto', 'minato', 'obito']

The new clan values are:  []

In [84]:
clan=["naruto","minato","obito"]

print("The old clan values: ",clan)

clan.clear()

if len(clan) ==0:
  print("\nNo one in the clan\n")
  print(clan)

else:
  print("Someone in the clan")
  print(clan)

The old clan values:  ['naruto', 'minato', 'obito']

No one in the clan

[]

#14. ShallowCopy

    How to make a copy of on top of the existing list

    for this we can use the below keyword

      list2=list1


    If we clear the list1 it will delete the both lists(list1,list2)

In [88]:
clan=["naruto","minato","obito"]

copyClan=clan

print("The clan members are ",clan)

print("\nThe copyClan members are ",copyClan)

clan.clear()   # it removes both clan

print("\nThe clan members are ",clan)

print("\nThe copyClan members are ",copyClan)

The clan members are  ['naruto', 'minato', 'obito']

The copyClan members are  ['naruto', 'minato', 'obito']

The clan members are  []

The copyClan members are  []

# 15. DeepCopy

    How to make an exact copy of the list

    for this we need to import copy option first then we can use the below keyword

    list1=copy.deepcopy(list)

    list2 contains value if we delete list 1

In [86]:
import copy

clan=["naruto","minato","obito"]

copyClan=copy.deepcopy(clan)

print("The clan members are ",clan)

print("\nThe copyClan members are ",copyClan)

clan.clear()   # it removes the clan value and not the copyClan's value

print("\nThe clan members are ",clan)

print("\nThe copyClan members are ",copyClan)

The clan members are  ['naruto', 'minato', 'obito']

The copyClan members are  ['naruto', 'minato', 'obito']

The clan members are  []

The copyClan members are  ['naruto', 'minato', 'obito']

#16. min and max function in List

    min() is used to find the minimum value in a list

    max() is used to find the maximum value in a list

    Possible Scenarios
    ____________________
    int+float
    int+bool

    Not possible Scenarios:
    _______________________
    int+str
    bool+str

In [97]:
#Eg 1: Capital letter is first precedence

clan=["naruto","minato","obito","Zabusa"]

print(min(clan))

print(max(clan))

Zabusa
obito

In [98]:
#Eg 2: Integer + float

clan=[1,6,4,0.1,5]

print(min(clan))

print(max(clan))

0.1
6

In [99]:
#Eg 3: Integer + float + bool

clan=[1,6,4,0.1,5,False,True]

print(min(clan))

print(max(clan))

False
6

In [102]:
#Eg 3: Str + Bool (Not Possible)

clan=["naruto",False,True]

print(min(clan))

print(max(clan))

TypeError: ignored

In [103]:
#Eg 3: Str + int (Not Possible)

clan=["Minato",1,4]

print(min(clan))

print(max(clan))

TypeError: ignored

#17. List Sum

    sum function is used to add all the values in a list

    The type of the result is int or float

    possible --> int,float,bool
    not possible --> str

In [110]:
#EG 1: int + float

numbers=[1,2,1.1,2]

print(sum(numbers))

6.1

In [105]:
#EG 2: Str

clan=["minato","naruto"]

print(sum(clan))

TypeError: ignored

In [109]:
#EG 3: bool + Int

numbers=[True,False,4,5,True,True]

print(sum(numbers))

# Here the value of "False" is "0" and the value of "True" is "1" 

# so [1 + 0 + 4 + 5 + 1 + 1] = 12

12

In [112]:
#EG 4: The type of the result is int

numbers=[1,2,11,2]

add=sum(numbers)

print(add)
print(type(add))

16
<class 'int'>

# 18. all function

    All function is like an and operator of list

    It results in True or False

    0 -> False

    other than O all values --> true

    Table:
    _____

    True and True = True
    True and False = False
    False and True = False
    False and False = False

In [122]:
#Eg : 1 Here all values are non zero, so the result will be true

function=[1,2,3,1,-1]

print(all(function))

True

In [121]:
#Eg : 2 Here one vaue of the result is zero, so the result will be false

function=[1,2,3,0]

print(all(function))

False

In [123]:
# Eg : 3 it supports string 

function= ["a","b"]

print(all(function))

True

In [124]:
# Eg : 4 it supports bool

print(all([True, True]))
print(all([True, False]))
print(all([False, True]))
print(all([False, False]))

True
False
False
False

# 19. any function

    Any function is like an "or" operator of list

    It results in True or False

    0 -> False

    other than O all values --> true

    Table:
    _____

    True or True = True
    True or False = True
    False or True = True
    False or False = False

In [125]:
#Eg : 1 

function=[-1,0,0,0,0]

print(any(function))

True

In [126]:
# Eg : 2

print(any([True, True]))
print(any([True, False]))
print(any([False, True]))
print(any([False, False]))

True
True
True
False