<a href="https://colab.research.google.com/github/BALAJIKUMARAN-CS/pythonNotes/blob/main/pythonFunction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Notes by BALAJIKUMARAN CS**

#Functions:

    1. Function
    
    2. Function invocation
    
    3. Function Documentation
    
    4. Meta data information
    
    5. Assign function to a variable
    
    6. Global variable
    
    7. Error inside the function
    
    8. Python Function Arguments
    
    9. simple Squre program
    
    10. Referencing Global variables
    
    11. Function arguments accepts all kind of data types
    
    12. Input Argument vs return value
    
    13. Empty return (None)

    14. Multiple return Values

    15. Multiple Variable assignment for result

    16. Invoke Function inside the Function

    17. Keyword Arguments

    18. Positional Arguments vs keyword Arguments

    19. Default arguments

    20. Variable Length arguments(*args) --> positional argument

    21. Unpack scenario

    22. Variable length arguments(**kwargs) --> keyword argument

    24. important note

#1. Function :
    function is a block of code which only runs when it is called.

    You can pass data, known as parameters, into a function.

    A function can return data as a result.

    It is a reusable bit of code.

    In Python a function is defined using the def keyword:

In [ ]:
def myFunction():
  print("Hello Im in function")

#2. Function Invocation:

    We use name of a function + () to invoke (call) a function

In [ ]:
myFunction()

Hello Im in function

#3. Function Indentation:

    indentation is properly followed in python function

    We can write the function definition within the def block

In [ ]:
def myServer():
  print("Im in my server")
print("hello im outside the function")

hello im outside the function

In [ ]:
def myServer():
  print("Im in my server")
print("hello im outside the function")
myServer()

hello im outside the function
Im in my server

In [ ]:
#Indentation Fail:

def willNotwork():
print("Fail")

IndentationError: ignored

In [ ]:
#If loop with Proper Indentation in a function

def ifLoopFunction():
  print("Indentation is all right")

  if 10>5:
    print("10 is greater than 5")

ifLoopFunction()

Indentation is all right
10 is greater than 5

In [ ]:
#For loop with Proper Indentation in a function

def forLoopFunction():
  print("Indentation is all right")

  for i in range(10):
    print("The value of i is :",i)

forLoopFunction()

Indentation is all right
The value of i is : 0
The value of i is : 1
The value of i is : 2
The value of i is : 3
The value of i is : 4
The value of i is : 5
The value of i is : 6
The value of i is : 7
The value of i is : 8
The value of i is : 9

#3. Function Documentation

    We can derive function documentation inside the function.-> It helps other user to understand about the function

    Documentation can be written within """ """ triple quotes

    We can use print statement to print the document without \n

    How to read the document of the function if available:
    ______________________________________________________

    function name.__doc__

    ______________________________________________________

In [ ]:
def documentationFunction():
  """This is well documented"""
  print("Hello I'm in function")

documentationFunction.__doc__

'This is well documented'

In [ ]:
def print_many_times_with_doc(string, times):

    """
        Prints the specified string the specified number of times

        The first argument is the string you want printed, the second
        argument is the number of times you want the string printed

        Parameters (both required):
        string(str): The string to be printed
        times(int): The number of times the string should be printed

        Returns:
        No return value

    """

    for i in range(times):
        print(string)

print_many_times_with_doc.__doc__

'\n        Prints the specified string the specified number of times\n        \n        The first argument is the string you want printed, the second\n        argument is the number of times you want the string printed\n        \n        Parameters (both required):\n        string(str): The string to be printed\n        times(int): The number of times the string should be printed\n        \n        Returns:\n        No return value\n    \n    '

In [ ]:
#Eg : print without \n

def print_many_times_with_doc(string, times):

    """
        Prints the specified string the specified number of times

        The first argument is the string you want printed, the second
        argument is the number of times you want the string printed

        Parameters (both required):
        string(str): The string to be printed
        times(int): The number of times the string should be printed

        Returns:
        No return value

    """

    for i in range(times):
        print(string)

print(print_many_times_with_doc.__doc__)

        Prints the specified string the specified number of times

        The first argument is the string you want printed, the second
        argument is the number of times you want the string printed

        Parameters (both required):
        string(str): The string to be printed
        times(int): The number of times the string should be printed

        Returns:
        No return value

#4. Metadata information

    we can invoke function without paranthesis () . --> It will shows the metadata info about your function object

In [ ]:
def documentationFunction():

  print("Hello I'm in function")

documentationFunction #-->shows meta data information about the function object

#5. Assign Function to a variable

    we can assign a variable to a function

    Eg:

    assign = name


    Here "name" function is assigned to a variable "assign"

    assign is a variable that has a reference to your original function object

In [ ]:
def documentationFunction():

  print("Hello I'm in function")

assign = documentationFunction

In [ ]:
assign

In [ ]:
assign()
documentationFunction()

Hello I'm in function
Hello I'm in function

#6. Global variable:

      The variable declared outside the function are accessible within the function

In [ ]:
name="naruto"

def shippuden():
  print("The name is :",name)

shippuden()

The name is : naruto

#7. Error inside the Function:

    If we made any error inside the function. It does not throw error untill we invoke the function

    It throws error only during function invocation.

    Note:
    ____________________________________________________________________________

    The syntax and indentation error can be identified before function invocation

    ____________________________________________________________________________

In [ ]:
#Eg : function with error

print("no error")
def errorFunction():

    result = "a"+2
    print(result)

no error

In [ ]:
def print_higher_number_with_error(a, b):

    if a > b:
        print("Higher number is", a)
    else:
        print("Higher number is", b)
        result = b + "a"

print_higher_number_with_error(10,8)

#Here else is not evaluated. so error not identified by python

Higher number is 10

In [ ]:
#Eg : Error During invocation

def errorFunction1():

    result = "a"+2
    print(result)

errorFunction1()

TypeError: ignored

In [ ]:
#Eg : The syntax error can be identified before function invocation

def syntaxError():

  "1"+"3

SyntaxError: ignored

#8. Python Function Arguments

    Information can be passed into functions as arguments.


    Arguments are specified after the function name, inside the parentheses.
    
    You can add as many arguments as you want, just separate them with a comma.

In [ ]:
#Eg 1 : single argument

def functionInput(ip):

    print("Im",ip)

functionInput("naruto")


# Here
# ip= "naruto"

Im naruto

In [ ]:
#Eg 1 : single argument

def functionNaruto(name, clan, power):

    print("Im", name)
    print(f"\nIm belongs to {clan} clan")
    print(f"\n{power} is my super power")

functionNaruto("naruto","uzumaki","rasengan")

Im naruto

Im belongs to uzumaki clan

rasengan is my super power

#9. Simple Square Program:

    Write a function to perform square of a number

In [ ]:
def square(x):
  print(f"The square of {x} is {x*x}")

square(10)

The square of 10 is 100

 Write a function to perform square of a user given number

In [ ]:
def square(x):
  print(f"The square of {x} is {x*x}")

num = int(input("Enter your number : "))
square(num)

Enter your number : 20
The square of 20 is 400

#10. Referencing Global variables:

In [ ]:
#Here Global variable is not taken: If we have same name for global variable and function variable. The function takes function variable as first priority

salary = 1000
expense =500

def mySavings(salary, expense):

    print(f"The total savings is {salary-expense}")

mySavings(100,200)

print(salary)
print(expense)

The total savings is -100
1000
500

In [ ]:
#Here the variable name is different in function and global. so code works as per the variable which is used

salary = 1000
expense =500

def mySavings(a, b):

    print(f"The total savings is {salary-expense}")

mySavings(100,200)

print(salary)
print(expense)

The total savings is 500
1000
500

In [ ]:
#Here throws an error because args not passed during function invocation

salary = 1000
expense =500

def mySavings(a, b):

    print(f"The total savings is {salary-expense}")

mySavings()

print(salary)
print(expense)

TypeError: ignored

#11. Function arguments accepts all kind of data types

      funtion accepts all kind of data types
      Eg: num, int,str,float,bool,list,tuple,dict

In [ ]:
def length(some_list):

    count = 0
    for element in some_list:
        count += 1
        print(f"The count is increased to {count}\n")
    print("The length of the list is", count)

listNum=[1,3,4,"Test"]

length(listNum)

The count is increased to 1

The count is increased to 2

The count is increased to 3

The count is increased to 4

The length of the list is 4

In [ ]:
length([4.5, 7.8, 3.3])

The count is increased to 1

The count is increased to 2

The count is increased to 3

The length of the list is 3

#   12. Input Argument vs return value

    Input
    ______
    
    Input argument are what you use to pass in information to a function

    Return:
    _______
    
    Return values are what you use to get information from a function


    Input:
    ____________________________________________________________________________
    
    def length(some_list):
    
        count = 0
        for element in some_list:
            count += 1

        print(f"Length is {count}")

    cars_list=["BMW","Honda","Tata","Toyota"]

    num_cars= length(listNum)

    print(num_cars)

    Output:
    ____________________________________________________________________________

    Length is 4

    None

    Explanation:
    _____________

    Clearly, there's something missing in the length custom function that we've defined.
    
    num_cars does not hold any value
    
    And you can see that it prints out None rather than 4.
    
    What is that something missing?
    
    Well, that is a return value from our function and that's what we'll discuss now.

    How do we get functions to return values.
    ___________________________________________

    We can use  Return to get information from a function

In [ ]:
#len (built in  function)

cars_list=["BMW","Honda","Tata","Toyota"]

num_cars = len(cars_list)

print(num_cars)

4

In [ ]:
# length (user defined function)

def length(some_list):

    count = 0
    for element in some_list:
        count += 1

    print(f"Length is {count}")

cars_list=["BMW","Honda","Tata","Toyota"]

num_cars= length(listNum)

print(num_cars)

Length is 4
None

In [ ]:
# length (user defined function with return value)

def length(some_list):

    count = 0
    for element in some_list:
        count += 1

    print(f"Length is {count}")

    return count

cars_list=["BMW","Honda","Tata","Toyota"]

num_cars= length(listNum)

print(num_cars)

Length is 4
4

In [ ]:
#Find max element in a list

def find_max_in_list(some_list):

    max_element = some_list[0]

    length = len(some_list)

    for i in range(1, length):

        if some_list[i] > max_element:
                max_element = some_list[i]

    return max_element


num_list = [5, 4, 6, 7, 2, 10, 11, 3]

max_element = find_max_in_list(num_list)

print(max_element)

11

#13. Empty return (None)

    None is a special value that Python understands.
    
    None belongs to the special data type NoneType.

In [ ]:
def empty_return(x, y):

    total = x + y
    return

noneVal=empty_return(1,2)

print(noneVal)

type(noneVal)

None

NoneType

#14. Multiple return values

    We can send multiple return values in a single function

    It will be on Tuple format

    It can be stored in a variable

    _____
    
    (x,y)
    _____

In [ ]:
def add_sub(x, y):

    add_result = x + y
    sub_result = x - y

    return add_result, sub_result

add_sub(2,3)

(5, -1)

In [ ]:
def positive_negative_zero(num):

    if num > 0:
        return "Positive!"

    elif num < 0:
        return "Negative!"

    else:
        return "Zero"

positive_negative_zero(1)

'Zero'

In [ ]:
def positive_negative_zero(num):

    if num > 0:
        return "Positive!"

    elif num < 0:1
        return "Negative!"


positive_negative_zero(0)

#15. Variable assignment

    It can be 2 types:

        1. single varable assignment
        2. Multiple variable assignment

In [ ]:
#Eg: Single variable assignment

def add_sub(x, y):

    add_result = x + y
    sub_result = x - y

    return add_result, sub_result

value = add_sub(2,3)

print(value)

(5, -1)

In [ ]:
print(value)

(5, -1)

In [ ]:
#Eg: multiple variable assignment

def add_sub(x, y):

    add_result = x + y
    sub_result = x - y

    return add_result, sub_result

value1, value2 = add_sub(2,3)

print("The value 1 is ",value1)

print("The value 2 is ",value2)

The value 1 is  5
The value 2 is  -1

In [ ]:
#Eg: multiple variable assignment

def add_sub(x, y):

    add_result = x + y
    sub_result = x - y

    return add_result, sub_result

value1, value2 = add_sub(2,3)

print("The value 1 is ",value1)

print("The value 2 is ",value2)

In [ ]:
#Eg: multiple variable assignment

def add_sum(x, y):

    add_result = x + y
    sub_result = x - y

    return add_result, sub_result

value1, _= add_sum(2,6)

print("The value 1 is ",value1)

print("The value 2 is ",_)

The value 1 is  8
The value 2 is  -4

#16. Invoke Function inside the Function

      We can invoke the custom function inside the custom function

In [ ]:
def add(a, b):
    return a + b

def sub(a, b):
    return a - b

def mul(a, b):
    return a * b

def div(a, b):
    return a / b

def calculate(a, b, operator):

    if operator == "add":
        return add(a, b)

    if operator == "sub":
        return sub(a, b)

    if operator == "mul":
        return mul(a, b)

    if operator == "div":
        return div(a, b)

calculate(10,20,"add")

30

#17. Keyword Arguments

      It allow you to specify input arguments by name while invoking functions

      The order is not must when we use only keyword argumets in a function

      Keyword Duplication not allowed

      Eg :

      function_name=(variable name = value)

In [ ]:
def subject(maths,physics,chemistry,biology):

    print(f"Maths = {maths}\nPhysics = {physics}\nChemistry = {chemistry}\nBiology = {biology}\n\nThe total marks are ")

    return maths+physics+chemistry+biology

subject(maths=90,chemistry=100,physics=80,biology=100)

Maths = 90
Physics = 80
Chemistry = 100
Biology = 100

The total marks are

370

In [ ]:
#Keyword duplication not allowed

subject(maths=90,chemistry=100,physics=80,physics=100)

SyntaxError: ignored

In [ ]:
#what if

#We dint give a proper keyword arg name:

def subject(maths,physics,chemistry,biology):

    print(f"Maths = {maths}\nPhysics = {physics}\nChemistry = {chemistry}\nBiology = {biology}\n\nThe total marks are ")

    return maths+physics+chemistry+biology

subject(math=90,chemistry=100,physics=80,biology=100)

TypeError: ignored

#18. Positional Arguments vs Keyword Arguments

    We can use positional arguments + keyword arguments in a same function.

    But the positional arguments should comes first . otherwise it will throw error

In [ ]:
#Eg 1 : Single positional arg

def subject(maths,physics,chemistry,biology):

    print(f"Maths = {maths}\nPhysics = {physics}\nChemistry = {chemistry}\nBiology = {biology}\n\nThe total marks are ")

    return maths+physics+chemistry+biology

subject(90,physics=80,chemistry=100,biology=100)

Maths = 90
Physics = 80
Chemistry = 100
Biology = 100

The total marks are

370

In [ ]:
#Eg 1 : Multiple positional arg

def subject(maths,physics,chemistry,biology):

    print(f"Maths = {maths}\nPhysics = {physics}\nChemistry = {chemistry}\nBiology = {biology}\n\nThe total marks are ")

    return maths+physics+chemistry+biology

subject(90,80,100,biology=100)

Maths = 90
Physics = 80
Chemistry = 100
Biology = 100

The total marks are

370

In [ ]:
#what if

#We dint give a proper korder during positional + keyword arg name combo:

def subject(maths,physics,chemistry,biology):

    print(f"Maths = {maths}\nPhysics = {physics}\nChemistry = {chemistry}\nBiology = {biology}\n\nThe total marks are ")

    return maths+physics+chemistry+biolaogy

subject(maths=90,100,physics=80,biology=100)

SyntaxError: ignored

#19. Default arguments

    The Default value for any of the input argument for a function is specified as a part of the function definition.


    See example 1 and 2 below for clear understanding

    Note:

    ____________________________________________________________________________

    The positional arguments should be declared in first

    The Default argument should be declared in end.


    ____________________________________________________________________________

In [ ]:
#Eg 1: It throws error when we miss an argument

def school(name,_class,rank):

    print(f"""The student name is : {name}
          The class is : {_class}
          The rank is {rank}""")

school(name="naruto",_class=5)

TypeError: ignored

In [ ]:
#Eg 2: It does not throws error when we miss an argument. Because we add a default value for an argument in function.

#It will take default value if we din't pass any value

def school(name,_class,rank="Fail"):

    print(f"""The student name is : {name}
The class is : {_class}
The rank is {rank}""")

school(name="naruto",_class=5)

The student name is : naruto
The class is : 5
The rank is Fail

In [ ]:
#Eg 3: What if we add a default value to an arg + also pass a value to the same arg

#It will take positional arg/keyword argument

def school(name,_class,rank="Fail"):

    print(f"""The student name is : {name}
The class is : {_class}
The rank is {rank}""")

school(name="naruto",_class=5,rank="merit holder")

The student name is : naruto
The class is : 5
The rank is merit holder

In [ ]:
#Eg 3: What if we add a default value for an argument in first

#It will throw an error

def school(name="naruto",_class,rank):

    print(f"""The student name is : {name}
The class is : {_class}
The rank is {rank}""")

SyntaxError: ignored

#20. Variable Length arguments (**args)

    if we want your custom function to accept variable number of arguments, you will specify as

Note:
______________________________________


    def fname(*args):

    This is the syntax which python use to indicate that you have a function that can accept variable number of arguments

    ---------------The data type of (*args) is a tuple--------------------------

In [ ]:
def print_fn(*args):

    args_type=type(args)

    print(args_type)

    print(args)

print_fn("book",1,1)

<class 'tuple'>
('book', 1, 1)

In [ ]:
#Eg : we can give any name for a variable. but * args is the best practice

def print_fxn(*name):

    name_type=type(name)

    print(name_type)

    print(name)

print_fxn()

<class 'tuple'>
()

In [ ]:
def print_fn(*args):

    args_type=type(args[1])

    print(args_type)

    print(args[1])

print_fn("book",1,1)

<class 'int'>
1

In [ ]:
#no argument scenario:

def students_in_a_school (school,city,*students):

    print(f"""school = {school}
city = {city}
students = {students}""")

students_in_a_school("GreenLeaf","GreenLeafVillage")

school = GreenLeaf
city = GreenLeafVillage
students = ()

In [ ]:
#multiple argument scenario:

def students_in_a_school (school,city,*students):

    print(f"""school = {school}
city = {city}
students = {students}""")

students_in_a_school("GreenLeaf","GreenLeafVillage","naruto","kabuto")

school = GreenLeaf
city = GreenLeafVillage
students = ('naruto', 'kabuto')

In [ ]:
#Error Scenario: it cannot allow positional arguments in last

def students_in_a_school (school,city,*students):

    print(f"""school = {school}
city = {city}
students = {students}""")

students_in_a_school(school ="GreenLeaf",city ="GreenLeafVillage","kakashi")

SyntaxError: ignored

In [ ]:
#Error Scenario: Here "kakashi" and "greenleaf" are considered as students

def students_in_a_school (*students,school,city,):

    print(f"""school = {school}
city = {city}
students = {students}""")

students_in_a_school("kakashi","GreenLeaf",city ="GreenLeafVillage")

TypeError: ignored

In [ ]:
#not throws an error

def students_in_a_school (*students,school,city,):

    print(f"""school = {school}
city = {city}
students = {students}""")

students_in_a_school("kakashi",school ="GreenLeaf",city ="GreenLeafVillage")

school = GreenLeaf
city = GreenLeafVillage
students = ('kakashi',)

# 21. Unpack Scenario
      Here is a list of name and these are list of names that i want to print out using the print function

In [ ]:
names=['naruto','minato','kabuto']

    Here the list is considered to be a single entity, which is then packed into a tuple

    The list is the "first" field in a tuple. it consider as a single element. it is the first field in the tuple that is passed in.

In [ ]:
def print_fn(*args):

    args_type=type(args)

    print(args_type)

    print(args)

print_fn(names)

<class 'tuple'>
(['naruto', 'minato', 'kabuto'],)

    But what if you want the individual elements that make up the names to be separate input args to your print function?

    """you will ask python to unpack the names and then pass this unpack list into the print function"""

    for that we use *variable while invoking

In [ ]:
def print_fn(*args):

    args_type=type(args)

    print(args_type)

    print(args)

print_fn(*names)

#Here it is not a list. it unpacks the list and stores the value in tuple

<class 'tuple'>
('naruto', 'minato', 'kabuto')

##22. Variable Length arguments (**kwargs)

      We can use keyword arguments instead of just a tuple of variable length arguments

      If you want your variable length arguments to be passed in the form of  keywords, you'll specify the double asterisk in front of your input arguments given below.

      -------- def fname(**kwargs)-----------

      when you use double asterisk, python packs the variable length args into a dictionary, "not a tuple"

      This is a dict of key value pairs
      
      where the keys are the names of your variable

      the values are the value that you specify.

In [ ]:
def student_detail(**kwargs):

  print(type(kwargs))
  print(kwargs)

student_detail()

<class 'dict'>
{}

In [ ]:
def student_detail(**kwargs):

  print(type(kwargs))
  print(kwargs)

student_detail(name="naruto",age=18)

<class 'dict'>
{'name': 'John', 'age': 18}

In [ ]:
def student_details(**details):

    for key,value in details.items():
      print(key,value)

student_details(name="naruto",clan="uzumaki",power="rasengan")

name naruto
clan uzumaki
power rasengan

In [ ]:
#Error : we cannot pass the dictionary directly while function invocation

def student_details(**details):

    for key,value in details.items():
      print(key,value)

student_details({"name":"naruto","clan":"uzumaki","power":"rasengan"})

TypeError: ignored

In [ ]:
#Error : we can unpack the key-value pairs in the dictionry by using "**" (pass as a keyword args)

def student_details(**details):

    for key,value in details.items():
      print(key,value)

student_details(**{"name":"naruto","clan":"uzumaki","power":"rasengan"})

name naruto
clan uzumaki
power rasengan

In [ ]:
#valid scenario

def student_info(**details):

    if 'name' in details:
      print(f"name : {details['name']}")

    if 'clan' in details:
      print(f"clan : {details['clan']}")

    if 'power' in details:
      print(f"power : {details['power']}")

student_info(**{"name":"naruto","clan":"uzumaki","power":"rasengan"})

name : naruto
clan : uzumaki
power : rasengan

#23. important note:

    we can pass variable length argument as positional args and keyword args in a same function

    in below example:

    *student_name is a positional argument

    **details is a keyword argument

In [ ]:
# we can pass variable length argument as positional args and keyword args in a same function


def student_information(*student_names, **details):

    print("students--")
    for i in student_names:
      print(i)

    print()
    print("powers--")

    for key,value in details.items():
      print(key,value)

student_information("naruto","sasuke",power_of_naruro="=rasengan",power_of_sasuke="=chidori")

students--
naruto
sasuke

powers--
power_of_naruro =rasengan
power_of_sasuke =chidori