<a href="https://colab.research.google.com/github/BALAJIKUMARAN-CS/pythonNotes/blob/main/pythonSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Notes by BALAJIKUMARAN CS**

#Set Functions


    1. Sets

    2. set () constructor

    3. set union()

    4. set update()

    5. set intersection()

    6. set intersection_update()

    7. set symmetric_difference()

    8. multiple set symmetric difference

    9. set symmetric_difference_update()

# 1. Sets

    Sets are used to store multiple items in a single variable.

    Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

    A set is a collection which is unordered, unchangeable*, and unindexed.

    * Note: Set items are unchangeable, but you can remove items and add new items.

In [ ]:
clanSet={"naruto","sakura","kakashi"}
print(clanSet)
print(type(clanSet))

{'naruto', 'kakashi', 'sakura'}
<class 'set'>

#2. set() Constructor

    It is also possible to use the set() constructor to make a set.

In [ ]:
clanSet=("naruto","gaara","lee")
print(type(clanSet),clanSet)
clanSet=set(clanSet)
print(type(clanSet),clanSet)

<class 'tuple'> ('naruto', 'gaara', 'lee')
<class 'set'> {'naruto', 'lee', 'gaara'}

#3. set Union()

    The union() method returns a set that contains all items from the original set, and all items from the specified set(s).

    You can specify as many sets you want, separated by commas.

    It does not have to be a set, it can be any iterable object.

    If an item is present in more than one set, the result will contain only one appearance of this item.

In [ ]:
#Eg 1: 2 Set union

x = {"naruto", "sakura", "lee"}

y = {"sakura", "sakura", "kakashi"}

z = x.union(y)

print(z)

{'naruto', 'kakashi', 'lee', 'sakura'}

In [ ]:
#Eg 2: multiple Set union

w = {"naruto","lee"}

x = {"naruto", "sakura", "lee"}

y = {"sakura", "sakura", "kakashi"}

z={"sakura","lee"}



a = x.union(w,y,z)

print(a)

{'naruto', 'kakashi', 'lee', 'sakura'}

#4. set Update()

    set update is same as set union. But it does not create a new set. It will update on the existing set

In [ ]:
# Eg 1: 2 set update

x = {"naruto", "sakura", "lee"}

y = {"sakura", "sakura", "kakashi"}

x.update(y)

print(x)
print(y)

{'naruto', 'kakashi', 'lee', 'sakura'}
{'kakashi', 'sakura'}

In [ ]:
#Eg 2: multiple Set update

w = {"naruto","lee"}

x = {"naruto", "sakura", "lee"}

y = {"sakura", "sakura", "kakashi"}

z={"sakura","lee"}



x.update(w,y,z)

print(x)

{'naruto', 'kakashi', 'lee', 'sakura'}

#5. Set intersection()

    The intersection() method returns a set that contains the similarity between two or more sets.

    Meaning: The returned set contains only items that exist in both sets, or in all sets if the comparison is done with more than two sets.

In [ ]:
# Eg 1: 2 set intersection

x = {"naruto", "sakura", "lee"}

y = {"sakura", "sakura", "kakashi"}

z=x.intersection(y)

print(z)
print(x)
print(y)

{'sakura'}
{'naruto', 'lee', 'sakura'}
{'kakashi', 'sakura'}

In [ ]:
#Eg 2: multiple Set intersection

w = {"naruto","lee","sakura"}

x = {"naruto", "sakura", "lee"}

y = {"sakura", "sakura", "kakashi"}

z={"sakura","lee"}



a = x.intersection(w,y,z)

print(a)

{'sakura'}

#6. set intersection_update()

    set intersection_update is same as set intersection. But it does not create a new set. It will update on the existing set

In [ ]:
# Eg 1: 2 set intersection_update()

x = {"naruto", "sakura", "lee"}

y = {"sakura", "sakura", "kakashi"}

x.intersection_update(y)

print(x)

{'sakura'}

In [ ]:
#Eg 2: multiple Set intersection_update()

w = {"naruto","lee","sakura"}

x = {"naruto", "sakura", "lee"}

y = {"sakura", "sakura", "kakashi"}

z={"sakura","lee"}



x.intersection_update(w,y,z)

print(x)

{'sakura'}

#7. set symmetric_difference()
    
    The symmetric_difference() method returns a set that contains all items from both set, but not the items that are present in both sets.

    Meaning: The returned set contains a mix of items that are not present in both sets

In [ ]:
# Eg 1: 2 set symmetric_difference()

x = {"naruto", "sakura", "lee"}

y = {"sakura", "sakura", "kakashi"}

z=x.symmetric_difference(y)

print(z)

{'naruto', 'lee', 'kakashi'}

#8. Multiple set symmetric difference

    Symmetric Difference between Multiple Sets
    The symmetric_difference() method doesnâ€™t allow multiple sets.

In [ ]:
#Eg 1: Error multiple Set symmetric_difference()

w = {"naruto","lee","sakura"}

x = {"naruto", "sakura", "lee"}

y = {"sakura", "sakura", "kakashi"}

z={"sakura","lee"}


z=x.symmetric_difference(w,y,z)

print(z)

TypeError: ignored

#9. symmetric_difference_update()

    symmetric_difference_update() is same as symmetric_difference(). But it does not create a new set. It will update on the existing set

In [ ]:
# Eg 1: 2 set symmetric_difference()

x = {"naruto", "sakura", "lee"}

y = {"sakura", "sakura", "kakashi"}

x.symmetric_difference_update(y)

print(x)

{'naruto', 'kakashi', 'lee'}