<a href="https://colab.research.google.com/github/BALAJIKUMARAN-CS/pythonNotes/blob/main/pythonTuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Tuple

    1. Tuple assignment and class

    2. Add 2 tuples

    3. Multiply tuples
    
    4. Mixed tuple 
    
    5. Auto correct as tuple
    
    6. Assign a tuple or list into a variable
    
    7. Nested
          1.Nested list in a list
          2.Nested tuple in a list
          3.Nested list in a tuple
          4.Nested tuple in a tuple
    
    8. Conversion
          1. list to tuple
          2. list to set |||||||||| CANNOT CONTAIN DUPLICATE VALUE
          3. tuple to list
          4. tuple to set

    
    9. Tuples are immutable(the values cannot be updated)
    
    10. Tuple Deletion (cannot be deleted with particular value EG: del tuple[0])
    
    
    11. zip function of tuples and list

#1. Tuple assignment

    Tuple can be assigned in curved brackets

    eg: sample=()

In [ ]:
sample=()

print(sample)

print(type(sample))

()
<class 'tuple'>

In [ ]:
greenLeafVillage=('naruto','sasuke','sakura','hinata')

sandVillage=('gaara',"gara'sfather")

print(greenLeafVillage,sandVillage)

('naruto', 'sasuke', 'sakura', 'hinata') ('gaara', "gara'sfather")

# 2. Add 2 Tuples

    we can add 2 tuples with + operator

In [ ]:
greenLeafVillage=('naruto','sasuke','sakura','hinata')

print(greenLeafVillage[0].upper()) #it will make as upper case

sandVillage=('gaara',"gara'sfather")

village=greenLeafVillage+sandVillage

print(village)

NARUTO
('naruto', 'sasuke', 'sakura', 'hinata', 'gaara', "gara'sfather")

#3. Multiply tuples

    we can multiply tuples by * operator

In [1]:
test=('1',"2","3")

print(test * 3)

print(test)

test*=3

print(test)

('1', '2', '3', '1', '2', '3', '1', '2', '3')
('1', '2', '3')
('1', '2', '3', '1', '2', '3', '1', '2', '3')

#4. Mixed tuple

    tuple can contains int,float,str with mixed in a single tuple

In [ ]:
test=(1,2,3.3,'test')

print(type(test[0]))

print(type(test[1]))

print(type(test[2]))

print(type(test[3]),len(test[3]))

print(test)

<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'> 4
(1, 2, 3.3, 'test')

#5. Auto correct as tuple

    Tuple can be given without a curve braces

    EG: x=1,2,'test'

In [2]:
x=1,2.2,"3"

print(type(x))

print(x)

<class 'tuple'>
(1, 2.2, '3')

#6. Assign a tuple or list into a variable

In [6]:
test=[1,2,3]

a,b,c=test

print(a)

print(b)

print(c)

print(test)

1
2
3
[1, 2, 3]

#7. Nested

#Nested list in a list

    nested list in a list means list inside a list

In [10]:
test=[1.1,2,[1,2]]

print(test[1])

print(test[1])

print(test[2])

print(test[2][0])

print(test[2][1])

2
2
[1, 2]
1
2

##Nested tuple in a list

In [ ]:
test=[1.1,2,(1,2)]
print(test[0])
print(test[1])
print(test[2])
print(test[2][0])
print(test[2][1])

1.1
2
(1, 2)
1
2

##Nested list in a tuple

In [ ]:
test=(1.1,2,[1,2])
print(test[0])
print(test[1])
print(test[2])
print(test[2][0])
print(test[2][1])

1.1
2
[1, 2]
1
2

##Nested tuple in a tuple

In [ ]:
test=(1.1,2,(1,2))
print(test[0])
print(test[1])
print(test[2])
print(test[2][0])
print(test[2][1])

1.1
2
(1, 2)
1
2

#8. conversion

##list to tuple

In [11]:
village=['green','sand','stone']

print(type(village),village)

village1=tuple(village)

print(type(village1),village1)

<class 'list'> ['green', 'sand', 'stone']
<class 'tuple'> ('green', 'sand', 'stone')

##list to SET

In [13]:
village=['green','sand','stone','stone']

unique=set(village)

print(unique)

{'green', 'sand', 'stone'}

##tuple to list

In [ ]:
village=('green','sand','stone')
print(type(village),village)
village1=list(village)
print(type(village1),village1)

<class 'tuple'> ('green', 'sand', 'stone')
<class 'list'> ['green', 'sand', 'stone']

##tuple to SET

In [14]:
village=('green','sand','stone','stone')

unique=set(village)

print(unique)

{'green', 'sand', 'stone'}

##9. Tuples are immutable

    The values in the tuple cannot be updated or added

In [15]:
village=("hello","Python")
village[0]="tello"
print(village)

TypeError: ignored

    we can update a list inside a tuple

In [20]:
test=(1,2,3,[4,5])

test[3].extend([100])

print(test)

(1, 2, 3, [4, 5, 100])

##10. Tuple Deletion

    It is not possible to delete a particular value in a tuple

    But in list it is possible

In [17]:
# Eg 1; Deletion of a list

test=[1,2,3,4,5]

del test[0]

print(test)

print(test[0])

[2, 3, 4, 5]
2

In [19]:
# Eg 1; Deletion of a tuple

test=(1,2,3,4,5)

del test[0]

print(test)

print(test[0])

TypeError: ignored

    Deletion can be possible with whole tuple

*   List item
*   List item

In [ ]:
# Eg 1; Deletion of a whole tuple

test=(1,2,3,4,5)

del test

print(test)

NameError: ignored

In [ ]:
# clear not possible in tuple

test=(1,2,3,4)

test.clear()

print(test)

[]

##11. Zip function

    Zip can be used to pair the values

    zip combines a,b in a tuple
    test1=1,2,3,4
    test2=1,2,3,4

    Points to note:

    zip with 2 or more are possible
    put only 2 possible when we convert that into a dict

In [31]:
##EG: zip with tuple

test1="name1","name2","name3","name4"

test2=1,2,3,4

test3=zip(test1,test2)

print(test3)

print(tuple(test3))

<zip object at 0x7fb0dba22940>
(('name1', 1), ('name2', 2), ('name3', 3), ('name4', 4))

In [32]:
##EG: zip with list

test1="name1","name2","name3","name4"

test2=1,2,3,4

test3=zip(test1,test2)

print(test3)

print(list(test3))

<zip object at 0x7fb0dbbbccc0>
[('name1', 1), ('name2', 2), ('name3', 3), ('name4', 4)]

In [30]:
##EG: zip with dict

test1="name1","name2","name3","name4"

test2=1,2,3,4

test3=zip(test1,test2)

print(test3)

print(dict(test3))

<zip object at 0x7fb0dba20d80>
{'name1': 1, 'name2': 2, 'name3': 3, 'name4': 4}

In [29]:
#zip with 3 variables

test1="name1","name2","name3","name4"

test2=1,2,3,4

test3="naruto","sarutobi","kakashi","lee"

test4=zip(test1,test2,test3)

print(test4)

print(list(test4))

<zip object at 0x7fb0dbbdc200>
[('name1', 1, 'naruto'), ('name2', 2, 'sarutobi'), ('name3', 3, 'kakashi'), ('name4', 4, 'lee')]