<a href="https://colab.research.google.com/github/BALAJIKUMARAN-CS/pythonNotes/blob/main/may28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Agenda: 28 May

1. Largest of 3 numbers program

2. Calculator program

3. Salary Range

4. For loop range

5. For loop in a list

6. Nested Loops

7. While Loops

# 1. Largest of 3 Numbers

Develop a simple program to find largest of 3 numbers

requirements:

  1. The user wants to give input
  2. User want to give 3 input

In [ ]:
num1 = int(input("Enter the number 1 "))
num2 = int(input("Enter the number 2 "))
num3 = int(input("Enter the number 3 "))
if(num1>=num2) and (num1>=num3):
  largestNum=float(num1)
  print("The Largest number is ",largestNum)
elif (num2 >= num1) and (num2 >= num3):
  largestNum=num2
  print("The Largest number is ",largestNum)
else:
  largestNum=num3
  print("The Largest number is ",largestNum)

Enter the number 1 100
Enter the number 2 99
Enter the number 3 98
The Largest number is  100.0

# Calculator:

Develop a simple calculator in python

requirements:

1. Calculator have options like add, sub, mul, div and one invalid operation

2. The user wants to give the input

In [ ]:
num1=int(input("Enter number 1 : "))
num2=int(input("ENter number 2 : "))
choice=input("""What operation do you want to perform :
Choose your choice
+ for addition
- for subtraction
* for multiplication
/ for division
""")
if (choice == "+"):
  num3=num1+num2
  print(f"The addition of {num1} and {num2} is {num3}")
elif (choice == "-"):
  num3=num1-num2
  print(f"The subtraction of {num1} and {num2} is {num3}")
elif (choice == "*"):
  num3=num1*num2
  print(f"The multiplication of {num1} and {num2} is {num3}")
elif (choice == "/"):
  num3=num1/num2
  print(f"The division of {num1} and {num2} is {num3}")
else:
  print("Enter a valid operation")

Enter number 1 : 10
ENter number 2 : 2
What operation do you want to perform :
Choose your choice
+ for addition
- for subtraction
* for multiplication
/ for division
/
The division of 10 and 2 is 5.0

# 3. Salary Range

Write a program to find the salary range of Executive, Manager, Senior Manager


1. The user wants to enter the input(Designation)
2. The output should print salary range of the designation

In [ ]:
#Eg : 1

designation=input("""Choose your Designation:
1. Executive
2. Manager
3. Senior Manager
""")
if (designation=="Executive"):
  print("The salary range of the Executive is 30k to 40k")
elif (designation=="Manager"):
  print("The salary range of the Manager is 60k to 90k")
elif (designation=="Senior Manager"):
  print("The salary range of the Senior Manager is 1.2L to 1.6L")
else:
  print("Please enter the vaid designation")

Choose your Designation:
1. Executive
2. Manager
3. Senior Manager
Executive
The salary range of the Executive is 30k to 40k

In [ ]:
#Eg : 2

designation=input("""Choose your Designation:
1. Executive
2. Manager
3. Senior Manager
""")
test=designation.upper()
if (test=="EXECUTIVE"):
  print(f"The salary range of the {test} is 30k to 40k")
elif (test=="MANAGER"):
  print(f"The salary range of the {test} is 60k to 90k")
elif (test=="SENIOR MANAGER"):
  print(f"The salary range of the {test} is 1.2L to 1.6L")
else:
  print("Please enter the vaid designation")

Choose your Designation:
1. Executive
2. Manager
3. Senior Manager
Ecede
Please enter the vaid designation

In [ ]:
print(range(5))

range(0, 5)

#4. For Loop range

    For loop on range

    1 . range(n)

    Here n is a stop index

    2 . range(n1,n2)

    Here n1 is a start index
    n2 is a stop index
  

    3 . range(n1,n2,n3)

    Here n1 is a start index
    n2 is a stop index
    n3 is a step index

In [ ]:
# Range(n)  ---> it prints (0 to n-1)(0 to 4)
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
# Range(n1, n2)  ---> it prints (n1 to n2-1)
for i in range(300,304):
  print(i)

300
301
302
303

In [ ]:
# Range(n1, n2, n3)  ---> it prints (n1 to n2-1 with n3 step)
for i in range(2,20,3):
  print(i)

2
5
8
11
14
17

#5. For loop in a List

In [ ]:
demonSlayer=["Tanjiro","Nezuko","Zenitsu"]
for i in demonSlayer:
  print(i)

Tanjiro
Nezuko
Zenitsu

In [ ]:
#How to print list values with a range

demonSlayer=["Tanjiro","Nezuko","Zenitsu"]
for i in range(len(demonSlayer)):
  print(demonSlayer[i])

Tanjiro
Nezuko
Zenitsu

#6. Nested Loops

It is loop inside the loop


    write a program to print

    *
    * *
    * * *
    * * * *
    * * * * *

In [ ]:
row = 5
for i in range(row):
  for j in range(i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
row = 5
for i in range(row):
  for j in range(row-(i)):
    print("*",end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

# 7. While loop

    This loop runs till the loop becomes "false"

    test=10
    count=1
    while count<=10: 
      print(count)
      count+=1

    Steps: 
    while 1 <=10 (True)
    print(1)
    count=2
    :
    :
    while 11<=10 (False)
    Loop exitted

In [ ]:
test=10
count=1
while count<=10: 
  print(count)
  count+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
text=""
while text!= "quit":
  text=input("Enter your input or type quit to exit: ")
  print(text)

Enter your input or type quit to exit: book
book
Enter your input or type quit to exit: net
net
Enter your input or type quit to exit: nest
nest
Enter your input or type quit to exit: code
code
Enter your input or type quit to exit: intro
intro
Enter your input or type quit to exit: quit
quit

In [ ]:
name = ["naruto","kabuto","itachi"]
salary=[5000,4000,3000]
print("The old salary list are\n")
print(f"The salary of {name[0]} before  promotion is {salary[0]}")
print(f"The salary of {name[1]} before  promotion is {salary[1]}")
print(f"The salary of {name[2]} before  promotion is {salary[2]}")

for i in range(len(name)):
  if(name[i] == "naruto"):
    newSalary=salary[i]*0.05
    salary[i]=int(newSalary + salary[0])
print("\nThe updated salary list are\n")
print(f"The salary of {name[0]} after promotion is {salary[0]}")
print(f"The salary of {name[1]} after promotion is {salary[1]}")
print(f"The salary of {name[2]} after promotion is {salary[2]}")

The old salary list are

The salary of naruto before  promotion is 5000
The salary of kabuto before  promotion is 4000
The salary of itachi before  promotion is 3000

The updated salary list are

The salary of naruto after promotion is 5250
The salary of kabuto after promotion is 4000
The salary of itachi after promotion is 3000

In [ ]:
salary=[5000,2000,300]
salary[0]=2000
print(salary)

[2000, 2000, 300]